@{
    ViewData["Title"] = "Home Page";
}


<p>
    <a asp-controller="Sales" asp-action="Index" class="btn btn-primary">
        商品販売ページへ
    </a>
</p>

<p>
    <a asp-controller="Sales" asp-action="TourList" class="btn btn-primary">
        ツアーページへ
    </a>
</p>
@Html.ActionLink("権限編集", "Index", "EmployeeAuth")
