@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@if (HttpContextAccessor.HttpContext.Session.GetString("Auth1") == "True" || 
     HttpContextAccessor.HttpContext.Session.GetString("Auth1") == "1")
{
    <a href="/Sales/Index" class="btn btn-primary">Sales管理画面</a>
}

<p>
    <a asp-controller="Sales" asp-action="Index" class="btn btn-primary">
        販売ページへ
    </a>
</p>

<p>
    <a asp-controller="Sales" asp-action="TourList" class="btn btn-primary">
        ツアーページへ
    </a>
</p>


<p>
    <a asp-controller="Login" asp-action="index" class="btn btn-primary">
        ログインページへ
    </a>
</p>

<p>
    <a href="Home/Privacy" class="btn btn-primary">
        privacyページへ
    </a>
</p>

@Html.ActionLink("権限編集", "Index", "EmployeeAuth")
